@charset "utf-8";
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    background-image: url('https://blog.kakaocdn.net/dn/l9mcj/btqEFWLGmG5/zZBSDsPAkraOd4aDpkI1Z0/img.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'yg-jalnan';
    font-size: 20px;
    min-height: 100vh;
}
.container {
    width: 90%;
    margin-top: 50px;
    background-color: #fff;
    /* vh : 화면 가득 채우기 */
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 10px;
    padding: 15px;
}
.container > h1 {
    text-align: center;
}
/* tab */
.task-tabs {
    display: flex;
}
.task-tabs div {
    padding: 1em;
}
.task-area {
    border: 1px solid lightblue;
}
.task-tabs {
    position: relative;
    display: flex;
    border-bottom: 1px solid lightblue;
}
.task-tabs div {
    padding: 1em;
}
#under-line {
    height: 4px;
    background-color: cornflowerblue;
    position: absolute;
    width: 50px;
    left: 0;
    top: 52px;
    padding: 0;
}
/* task */
.task {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid lightgray;
    font-size: 15px;
}
.task-done {
    text-decoration: line-through;
    background-color: rgba(211, 211, 211, 0.5);
    color: dimgrey;
    transition: 1s;
}
.button-box {
    display: flex;
}
.task-tabs > div {
    cursor: pointer;
}
/* check, delete btn */
button {
    height: 100%;
    border: 1px solid #232323;
    width: 2em;
    margin: 0;
    background-color: #fff;
    font-size: 15px;
}
.button-box button {
    height: 100%;
    border: none;
    width: 3em;
    margin: 0;
    background-color: #fff;
    transition: 1s;
    font-size: 19px;
}
/* btn hover */
.button-box button:first-child:hover {
    background-color:rgb(53, 161, 53, 0.3);
}
.button-box button:nth-child(2):hover {
    background-color: rgb(225, 0, 0, 0.3);
}
/* check icon */
.fa-circle-check {
    color: rgb(53, 161, 53)
}
/* delete icon */
.fa-circle-xmark {
    color: rgb(202, 52, 52);
}
/* rotate icon */
.fa-arrow-rotate-left {
    color: darkgray;
}
.task span {
    padding: 1em;
}
/* input */
.input-area {
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}
input {
    width: 84%;
    height: 35px;
    font-size: 18px;
    border: 0.5px solid lightblue;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: #fff;
}
/* plus+ btn */
.fa-circle-plus {
    color: rgb(18, 110, 214);
}
#add-button {
    border: none;
    /* border-radius: 15px; */
    outline: none;
    font-size: 30px;
    padding: 0;
    margin: 0;
}
